<h1>Mis Tareas</h1>

<div class="row mb-3">
  <%= form_with model: @task do |f| %>
    <%= f.text_field :description, placeholder: "Descripci'on de la tarea", class: "form-control" %>
    <%= f.submit "Guardar", class: "btn btn-primary" %>
  <% end %>
</div>

<div class="row">
  <ul class="list-group">
  <% @tasks.each do |task| %>
    <li class="list-group-item"><%= link_to task.display_description, task_complete_path(task) %></li>
  <% end %>
  </ul>
</div>
